{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="card-header">
  <div class="card-tools">
    <a href="#" class="btn btn-tool">Распечатать</a>
    <a href="{% url 'employee-update' object.id %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'employee-delete' object.id %}" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
    <div class="row mb-4">
      <div class="col-sm-4">
        <div class="row mb-2">

          {% if object.photo %}
            <img
              src="{{ object.photo.url }}"
              class="float-left rounded-circle mr-3" style="width: 120px; height: 120px;">
          {% else %}
            <img
              src="{% static 'dist/img/avatar.png' %}"
              class="float-left rounded-circle mr-3" style="width: 120px; height: 120px;">
          {% endif %}


          <div class="float-right">
            <h4>{{ object.personnel_number }} </h4>
            <h4>{{ object.surname }} </h4>
            <h4>{{ object.firstname }} </h4>
            <h4>{{ object.other_name }} </h4>          
          </div>
        </div>
        <h5>{{ object.current_doc_category }} </h5>
        <h5>{{ object.get_gender_display }} | {{ object.get_current_status_display }}</h5>

      </div>
      <div class="col-sm-8">
        <div>
          <div class="form-group border-bottom row">
            <label class="col">
              Дата рождения
            </label>
            <div class="col">
              {{ object.date_of_birth }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Тел номер
            </label>
            <div class="col">
              {{ object.mobile_number}}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Адрес
            </label>
            <div class="col">
              {{ object.address }}
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Комментарий
            </label>
            <div class="col">
              {{ object.others }}
            </div>
          </div>

        </div>

      </div>
      <div class="col-md-9">
        <div class="card">
        <div class="card-header p-2">
        <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Документы</a></li>
        <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Задачи</a></li>
        <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Бланки</a></li>
        </ul>
        </div>
        <div class="card-body">
        <div class="tab-content">
        <div class="tab-pane active" id="activity">
        
        <div class="post">
        <div class="user-block">
        <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
        <span class="username">
        <a href="#">Jonathan Burke Jr.</a>
        <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
        </span>
        <span class="description">Shared publicly - 7:30 PM today</span>
        </div>
        
        <p>
        Lorem ipsum represents a long-held tradition for designers,
        typographers and the like. Some people hate it and argue for
        its demise, but others ignore the hate as they create awesome
        tools to help create filler text for everyone from bacon lovers
        to Charlie Sheen fans.
        </p>
        <p>
        <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
        <span class="float-right">
        <a href="#" class="link-black text-sm">
        <i class="far fa-comments mr-1"></i> Comments (5)
        </a>
        </span>
        </p>
        <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
        </div>
        
        
        <div class="post clearfix">
        <div class="user-block">
        <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">
        <span class="username">
        <a href="#">Sarah Ross</a>
        <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
        </span>
        <span class="description">Sent you a message - 3 days ago</span>
        </div>
        
        <p>
        Lorem ipsum represents a long-held tradition for designers,
        typographers and the like. Some people hate it and argue for
        its demise, but others ignore the hate as they create awesome
        tools to help create filler text for everyone from bacon lovers
        to Charlie Sheen fans.
        </p>
        <form class="form-horizontal">
        <div class="input-group input-group-sm mb-0">
        <input class="form-control form-control-sm" placeholder="Response">
        <div class="input-group-append">
        <button type="submit" class="btn btn-danger">Send</button>
        </div>
        </div>
        </form>
        </div>
        
        
        <div class="post">
        <div class="user-block">
        <img class="img-circle img-bordered-sm" src="../../dist/img/user6-128x128.jpg" alt="User Image">
        <span class="username">
        <a href="#">Adam Jones</a>
         <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
        </span>
        <span class="description">Posted 5 photos - 5 days ago</span>
        </div>
        
        <div class="row mb-3">
        <div class="col-sm-6">
        <img class="img-fluid" src="../../dist/img/photo1.png" alt="Photo">
        </div>
        
        <div class="col-sm-6">
        <div class="row">
        <div class="col-sm-6">
        <img class="img-fluid mb-3" src="../../dist/img/photo2.png" alt="Photo">
        <img class="img-fluid" src="../../dist/img/photo3.jpg" alt="Photo">
        </div>
        
        <div class="col-sm-6">
        <img class="img-fluid mb-3" src="../../dist/img/photo4.jpg" alt="Photo">
        <img class="img-fluid" src="../../dist/img/photo1.png" alt="Photo">
        </div>
        
        </div>
        
        </div>
        
        </div>
        
        <p>
        <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
        <span class="float-right">
        <a href="#" class="link-black text-sm">
        <i class="far fa-comments mr-1"></i> Comments (5)
        </a>
        </span>
        </p>
        <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
        </div>
        
        </div>
        
        <div class="tab-pane" id="timeline">
        
        <div class="timeline timeline-inverse">
        
        <div class="time-label">
        <span class="bg-danger">
        10 Feb. 2014
        </span>
        </div>
        
        
        <div>
        <i class="fas fa-envelope bg-primary"></i>
        <div class="timeline-item">
        <span class="time"><i class="far fa-clock"></i> 12:05</span>
        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
        <div class="timeline-body">
        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
        weebly ning heekya handango imeem plugg dopplr jibjab, movity
        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
        quora plaxo ideeli hulu weebly balihoo...
        </div>
        <div class="timeline-footer">
        <a href="#" class="btn btn-primary btn-sm">Read more</a>
        <a href="#" class="btn btn-danger btn-sm">Delete</a>
        </div>
        </div>
        </div>
        
        
        <div>
        <i class="fas fa-user bg-info"></i>
        <div class="timeline-item">
         <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>
        <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request
        </h3>
        </div>
        </div>
        
        
        <div>
        <i class="fas fa-comments bg-warning"></i>
        <div class="timeline-item">
        <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>
        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
        <div class="timeline-body">
        Take me to your leader!
        Switzerland is small and neutral!
        We are more like Germany, ambitious and misunderstood!
        </div>
        <div class="timeline-footer">
        <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
        </div>
        </div>
        </div>
        
        
        <div class="time-label">
        <span class="bg-success">
        3 Jan. 2014
        </span>
        </div>
        
        
        <div>
        <i class="fas fa-camera bg-purple"></i>
        <div class="timeline-item">
        <span class="time"><i class="far fa-clock"></i> 2 days ago</span>
        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
        <div class="timeline-body">
        <img src="https://placehold.it/150x100" alt="...">
        <img src="https://placehold.it/150x100" alt="...">
        <img src="https://placehold.it/150x100" alt="...">
        <img src="https://placehold.it/150x100" alt="...">
        </div>
        </div>
        </div>
        
        <div>
        <i class="far fa-clock bg-gray"></i>
        </div>
        </div>
        </div>
        
        <div class="tab-pane" id="settings">
        <form class="form-horizontal">
        <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
        <input type="email" class="form-control" id="inputName" placeholder="Name">
        </div>
        </div>
        <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        </div>
        <div class="form-group row">
        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName2" placeholder="Name">
        </div>
        </div>
        <div class="form-group row">
        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
        <div class="col-sm-10">
         <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
        </div>
        </div>
        <div class="form-group row">
        <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
        </div>
        </div>
        <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
        <div class="checkbox">
        <label>
        <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
        </label>
        </div>
        </div>
        </div>
        <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-danger">Submit</button>
        </div>
        </div>
        </form>
        </div>
        
        </div>
        
        </div>
        </div>
        
    </div>

    <h4>Invoice/Payment History</h4>
    <p>There are no payment history for {{object}}</p>




{% endblock content %}
