{% extends 'base.html' %}

{% block title %}Сотрудники{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'employee-create' %}"><i
    class="fas fa-plus"></i> Новый сотрудник</a>
<a class="btn btn-primary" href="{% url 'employee-upload' %}"><i
    class="fas fa-upload"></i> Загрузка сотрудников</a>
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="employeetable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
     <!-- <th>Серия/Номер</th> -->
          <th>Табельный номер</th> 
          <th>Полное имя</th>
          <th>Должность</th>
          <th>Категория документа</th>
          <th>Пол</th>
          <th>Тел номер</th>
          <th>Статус</th>
        </tr>
      </thead>
      <tbody>

        {% for employee in employees %}
          <tr class='clickable-row' data-href="{% url 'employee-detail' employee.id %}">
          <!--  <td>{{ forloop.counter}}</td> -->
            <td>{{ employee.personnel_number}}</td>
            <td>{{ employee.surname}} {{employee.firstname }} {{employee.other_name }}</td>
            <td>{{ employee.position}}</td>
            <td>{{ employee.current_doc_category}}</td>
            <td>{{ employee.get_gender_display}}</td>
            <td>{{ employee.mobile_number}}</td>
            <td>{{ employee.get_current_status_display}}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}


{% block morejs %}
<script>
  $('#employeetable').DataTable({
  });
</script>

{% endblock morejs %}
