{% extends 'base.html' %}



{% block title %}
  Developer
{% endblock title %}


{% block content %}
  <h5>Development started by Adigun Sherif</h5>
  <p>
    These great people contributed to this codebase:
  </p>

  <p>
    <a href="https://github.com/adigunsherif/Django-School-Management-System/graphs/contributors"> https://github.com/adigunsherif/Django-School-Management-System/graphs/contributors</a>

  </p>

  <p>
    For a more customized version or advance version for students/staff/parent, contact at email adigunsherif@gmail.com <br>

    You can also reach me on linkedin at http://linkedin.com/in/adigunsherif


  </p>
{% endblock content %}
